backend/n8n/workflow_smartorders_v3_rag.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "estoque",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -1200,
                5632
            ],
            "id": "5e328bf9-a642-45d8-8e38-64ebb2afc0f9",
            "name": "Webhook",
            "webhookId": "6adda776-d2f2-42b4-a444-49d99993bf92"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.message || $json.body.context || JSON.stringify($json.body) }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "# Agente Analisador de Intenção - SmartOrders\n\n## Sua Função\nVocê é o primeiro passo de um sistema RAG. Sua ÚNICA tarefa é:\n1. Entender o que o usuário quer saber\n2. Identificar entidades mencionadas (produtos, fornecedores, datas)\n3. Definir filtros para buscar dados no banco\n\n## Output OBRIGATÓRIO (JSON puro, sem markdown, sem ```)\n{\n  \"intent\": \"consulta_produto | consulta_estoque | consulta_ruptura | consulta_excesso | sugestao_compra | relatorio_geral | campanha_marketing | negociacao | busca_generica\",\n  \"confidence\": 0.0 a 1.0,\n  \"entities\": {\n    \"produto\": \"nome se mencionado ou null\",\n    \"categoria\": \"categoria se mencionada ou null\"\n  },\n  \"data_needs\": [\"produtos\", \"financeiro\"],\n  \"filters\": {\n    \"search_term\": \"termo para ILIKE ou null\",\n    \"status\": \"RUPTURA|CRITICO|ATENCAO|SAUDAVEL|EXCESSO ou null\",\n    \"limit\": 10\n  },\n  \"requires_aggregation\": true ou false,\n  \"original_question\": \"pergunta original\"\n}\n\n## Regras\n1. SEMPRE retorne JSON válido, SEM markdown, SEM ```json\n2. Se não entender, use intent \"busca_generica\"\n3. Para buscas de produto: \"cimento cpiv\" → search_term: \"%cimento%cpiv%\"\n4. Se mencionar \"todos\", \"geral\", use limit: 100\n5. Se mencionar \"top\", \"principais\", use limit: 5\n\n## Exemplos\n\nEntrada: \"Qual o estoque do Cimento?\"\nSaída: {\"intent\":\"consulta_produto\",\"confidence\":0.95,\"entities\":{\"produto\":\"Cimento\"},\"data_needs\":[\"produtos\"],\"filters\":{\"search_term\":\"%cimento%\",\"limit\":10},\"requires_aggregation\":false,\"original_question\":\"Qual o estoque do Cimento?\"}\n\nEntrada: \"Me dá um resumo geral\"\nSaída: {\"intent\":\"relatorio_geral\",\"confidence\":0.9,\"entities\":{},\"data_needs\":[\"produtos\",\"financeiro\"],\"filters\":{\"limit\":100},\"requires_aggregation\":true,\"original_question\":\"Me dá um resumo geral\"}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                -960,
                5632
            ],
            "id": "agent-analyzer-001",
            "name": "Agente Analisador"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-3.5-turbo",
                    "mode": "list",
                    "cachedResultName": "gpt-3.5-turbo"
                },
                "options": {
                    "temperature": 0
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                -760,
                5832
            ],
            "id": "openai-analyzer-001",
            "name": "OpenAI Analisador (3.5)",
            "credentials": {
                "openAiApi": {
                    "id": "07UbucVgem6yn0aQ",
                    "name": "Metrics-Api-Jose"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parser do output do Agente Analisador\nconst output = $input.first().json.output || '';\nconst originalBody = $('Webhook').first().json.body || {};\n\ntry {\n    let cleanOutput = output\n        .replace(/^```json\\s*/i, '')\n        .replace(/^```\\s*/i, '')\n        .replace(/```\\s*$/i, '')\n        .trim();\n    \n    const parsed = JSON.parse(cleanOutput);\n    \n    return {\n        json: {\n            success: true,\n            intent: parsed.intent || 'busca_generica',\n            confidence: parsed.confidence || 0.5,\n            entities: parsed.entities || {},\n            data_needs: parsed.data_needs || ['produtos'],\n            filters: parsed.filters || { limit: 10 },\n            requires_aggregation: parsed.requires_aggregation || false,\n            original_question: parsed.original_question || originalBody.message || '',\n            original_body: originalBody,\n            sessionId: originalBody.user_id || null\n        }\n    };\n} catch (error) {\n    return {\n        json: {\n            success: false,\n            intent: 'busca_generica',\n            confidence: 0.3,\n            entities: {},\n            data_needs: ['produtos'],\n            filters: { limit: 10 },\n            requires_aggregation: false,\n            original_question: originalBody.message || '',\n            original_body: originalBody,\n            sessionId: originalBody.user_id || null,\n            parse_error: error.message\n        }\n    };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -720,
                5632
            ],
            "id": "parser-analyzer-001",
            "name": "Parser Analisador"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://tfhwtejlsybilioiajbx.supabase.co/rest/v1/dados_estoque?tipo_registro=eq.DETALHE{{ $json.filters.search_term ? '&produto_descricao=ilike.*' + $json.filters.search_term.replace(/%/g, '').split(' ').join('*') + '*' : '' }}&limit=100",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmaHd0ZWpsc3liaWxpb2lhamJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwMzM3OTUsImV4cCI6MjA4MDYwOTc5NX0.6Hc1b2h_g7DyGa9fPiOtGx0rL_BWE9xJ-kWBa8jSOrg"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmaHd0ZWpsc3liaWxpb2lhamJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwMzM3OTUsImV4cCI6MjA4MDYwOTc5NX0.6Hc1b2h_g7DyGa9fPiOtGx0rL_BWE9xJ-kWBa8jSOrg"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -480,
                5632
            ],
            "id": "supabase-fetch-001",
            "name": "Supabase: Buscar Dados"
        },
        {
            "parameters": {
                "jsCode": "// Processa dados do Supabase (tabela dados_estoque) e monta contexto\nconst allItems = $input.all();\nconst parserData = $('Parser Analisador').first().json;\n\n// Filtra apenas registros DETALHE (ignora SUMARIO)\nlet produtos = allItems.map(item => item.json).filter(p => p.tipo_registro === 'DETALHE');\n\n// Se tem filtro de busca, filtra localmente\nconst searchTerm = parserData.filters?.search_term;\nif (searchTerm && produtos.length > 0) {\n    const searchPattern = searchTerm.replace(/%/g, '').toLowerCase();\n    const terms = searchPattern.split(/\\s+/).filter(t => t.length > 0);\n    \n    produtos = produtos.filter(p => {\n        const nome = (p.produto_descricao || '').toLowerCase();\n        return terms.every(term => nome.includes(term));\n    });\n}\n\n// Se tem filtro de status, filtra\nconst statusFilter = parserData.filters?.status;\nif (statusFilter && produtos.length > 0) {\n    produtos = produtos.filter(p => {\n        const status = (p.status_ruptura || '').toUpperCase();\n        return status.includes(statusFilter.toUpperCase());\n    });\n}\n\n// Limita resultados\nconst limit = parserData.filters?.limit || 10;\nprodutos = produtos.slice(0, limit);\n\n// Calcula agregações se necessário\nlet financeiro = null;\nif (parserData.requires_aggregation) {\n    const parseNum = (val) => {\n        if (!val) return 0;\n        if (typeof val === 'number') return val;\n        return parseFloat(val.toString().replace(/\\./g, '').replace(',', '.')) || 0;\n    };\n    \n    const allProducts = allItems.map(i => i.json).filter(p => p.tipo_registro === 'DETALHE');\n    let totalEstoque = 0, totalReceita = 0, rupturas = 0, excessos = 0, criticos = 0, atencao = 0, saudaveis = 0;\n    \n    allProducts.forEach(item => {\n        const qty = parseNum(item.estoque_atual);\n        const custo = parseNum(item.custo);\n        const preco = parseNum(item.preco);\n        const status = (item.status_ruptura || '').toLowerCase();\n        \n        totalEstoque += qty * custo;\n        totalReceita += qty * preco;\n        if (status.includes('excesso')) excessos++;\n        if (status.includes('crítico') || status.includes('critico')) criticos++;\n        if (status.includes('atenção') || status.includes('atencao')) atencao++;\n        if (status.includes('saudável') || status.includes('saudavel')) saudaveis++;\n    });\n    \n    financeiro = {\n        total_skus: allProducts.length,\n        valor_estoque: totalEstoque.toFixed(2),\n        receita_potencial: totalReceita.toFixed(2),\n        lucro_projetado: (totalReceita - totalEstoque).toFixed(2),\n        margem_media: totalReceita > 0 ? ((totalReceita - totalEstoque) / totalReceita * 100).toFixed(1) : 0,\n        distribuicao: { excessos, criticos, atencao, saudaveis }\n    };\n}\n\n// Monta payload enriquecido com campos corretos da tabela dados_estoque\nconst produtosFormatados = produtos.map(p => ({\n    nome: p.produto_descricao,\n    id: p.id_produto,\n    estoque: p.estoque_atual,\n    demanda_dia: p.media_diaria_venda,\n    cobertura_dias: p.dias_de_cobertura,\n    status: p.status_ruptura,\n    preco: p.preco,\n    custo: p.custo\n}));\n\nconst contextoDados = financeiro \n    ? `\\n## Dados Financeiros\\n${JSON.stringify(financeiro, null, 2)}\\n\\n## Produtos (${produtosFormatados.length} encontrados)\\n${JSON.stringify(produtosFormatados.slice(0, 5), null, 2)}`\n    : `\\n## Produtos Encontrados (${produtosFormatados.length})\\n${JSON.stringify(produtosFormatados.slice(0, 10), null, 2)}`;\n\nreturn {\n    json: {\n        route: mapIntentToRoute(parserData.intent),\n        original_body: parserData.original_body,\n        payload_string: `# PERGUNTA DO USUÁRIO\\n${parserData.original_question}\\n\\n# DADOS REAIS DO SISTEMA SmartOrders${contextoDados}\\n\\n# INSTRUÇÕES\\nResponda usando APENAS os dados acima. Seja preciso e cite números.`,\n        sessionId: parserData.sessionId,\n        intent: parserData.intent,\n        timestamp: new Date().toISOString()\n    }\n};\n\nfunction mapIntentToRoute(intent) {\n    const map = {\n        'campanha_marketing': 'MARKETING',\n        'sugestao_compra': 'COMPRA',\n        'negociacao': 'NEGOCIACAO',\n        'relatorio_geral': 'RELATORIO',\n        'consulta_ruptura': 'ESTOQUE',\n        'consulta_excesso': 'ESTOQUE',\n        'consulta_produto': 'ESTOQUE',\n        'consulta_estoque': 'ESTOQUE'\n    };\n    return map[intent] || 'ESTOQUE';\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -240,
                5632
            ],
            "id": "build-context-001",
            "name": "Construir Contexto"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.route }}",
                                        "rightValue": "MARKETING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "MARKETING"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.route }}",
                                        "rightValue": "ESTOQUE",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "ESTOQUE"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.route }}",
                                        "rightValue": "COMPRA",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "COMPRA"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.route }}",
                                        "rightValue": "EMAIL",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "EMAIL"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.route }}",
                                        "rightValue": "RELATORIO",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "RELATORIO"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.route }}",
                                        "rightValue": "NEGOCIACAO",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "NEGOCIACAO"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [
                0,
                5568
            ],
            "id": "1d451a4b-5a1e-45c3-bc35-80c932c6a3f8",
            "name": "Switch Router"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.payload_string }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "# 🚀 SUPER GERENTE DE COMPRAS & ESTOQUE - SmartOrders\n\n## REGRA PRINCIPAL\nVocê DEVE usar APENAS os dados fornecidos no contexto. NÃO invente números.\n\n## Identidade\nVocê é o Super Gerente de Compras e Gestor de Estoque da SmartOrders.\n\n## Formato de Resposta (Markdown)\n### 📦 Produto: [Nome do produto dos dados]\n- Estoque: X unidades (do contexto)\n- Demanda: Y un/dia (do contexto)\n- Cobertura: Z dias (do contexto)\n- Status: [do contexto]\n\n### 🧠 Análise\n[Sua análise baseada nos dados]\n\n### ✅ Recomendação\n[Ação sugerida]"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                400,
                5888
            ],
            "id": "280176d0-20b7-40a7-aec5-43d99246194e",
            "name": "Agente Compras"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.payload_string }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "# Sales Sniper - Estrategista Comercial\n\n## REGRA PRINCIPAL\nUse APENAS os dados fornecidos no contexto. Cite números reais.\n\n## Função\nTransformar problemas de estoque em oportunidades.\n\n## Formato (Markdown)\n1. **Resumo do Impacto** 💰 (com valores dos dados)\n2. **Análise Tática** 🧠 (baseada nos produtos do contexto)\n3. **Plano de Ação** 🚀 (3 ações práticas)"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                400,
                5568
            ],
            "id": "46e9d137-b0ba-439c-bc59-c6c2642919f4",
            "name": "Agente Estoque (Sales Sniper)"
        },
        {
            "parameters": {
                "jsCode": "// Safe Executor\ntry {\n    const agentOutput = $input.first().json.output || $input.first().json.response;\n    if (!agentOutput) throw new Error('Agente não retornou output');\n    \n    return {\n        json: {\n            success: true,\n            output: agentOutput,\n            error: null\n        }\n    };\n} catch (error) {\n    return {\n        json: {\n            success: false,\n            output: 'Não foi possível processar sua solicitação. Tente novamente.',\n            error: error.message\n        }\n    };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                5568
            ],
            "id": "724fc8ed-dd2c-4bbd-8493-e90fc16a1331",
            "name": "Safe Executor Estoque"
        },
        {
            "parameters": {
                "jsCode": "// Safe Executor\ntry {\n    const agentOutput = $input.first().json.output || $input.first().json.response;\n    if (!agentOutput) throw new Error('Agente não retornou output');\n    \n    return {\n        json: {\n            success: true,\n            output: agentOutput,\n            error: null\n        }\n    };\n} catch (error) {\n    return {\n        json: {\n            success: false,\n            output: 'Não foi possível processar sua solicitação. Tente novamente.',\n            error: error.message\n        }\n    };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                5888
            ],
            "id": "16fa203b-babf-4ef4-9238-31117c99a2b7",
            "name": "Safe Executor Compra"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.output }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                1200,
                5728
            ],
            "id": "9e5d38ad-eb22-4ee1-8910-423d775da1be",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.payload_string }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "# Agente de E-mail Marketing\n\n## REGRA: Use APENAS os produtos do contexto.\n\n## Saída (JSON)\n{\n  \"subject\": \"Linha de assunto com emoji\",\n  \"body\": \"Corpo do e-mail em HTML\",\n  \"cta_text\": \"Texto do botão\"\n}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                400,
                6288
            ],
            "id": "2d55beb0-281d-47f4-976d-b2f49571224c",
            "name": "Agente Email"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.payload_string }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "# Agente de Relatórios - BI Executivo\n\n## REGRA: Use APENAS os dados financeiros do contexto.\n\n## Formato (Markdown)\n### 📊 Resumo Executivo\n[2-3 linhas com insights principais]\n\n### 📈 KPIs\n| Métrica | Valor |\n|---------|-------|\n| Total SKUs | X |\n| Valor Estoque | R$ Y |\n\n### ⚠️ Alertas\n- [Lista de pontos de atenção]\n\n### ✅ Recomendações\n1. [Ação prioritária]"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                400,
                6688
            ],
            "id": "b8c0f9cb-5bf1-4f06-b8f4-9e738bf63aa0",
            "name": "Agente Relatórios"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.payload_string }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "# Agente de Negociação B2B\n\n## REGRA: Use APENAS os produtos do contexto para calcular valores.\n\n## Saída (Markdown)\n### 💰 Resumo do Pedido\n- Valor total: R$ X\n- Poder de barganha: ALTO/MÉDIO/BAIXO\n\n### 🎯 Argumentos\n1. [Argumento baseado no volume]\n\n### 📝 Script\n[Texto para usar na negociação]"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                400,
                7088
            ],
            "id": "a1bd73c4-f0be-47d2-aa8a-ce3efd0b2995",
            "name": "Agente Negociação"
        },
        {
            "parameters": {
                "jsCode": "// Safe Executor genérico\ntry {\n    const agentOutput = $input.first().json.output || $input.first().json.response;\n    if (!agentOutput) throw new Error('Sem output');\n    return { json: { success: true, output: agentOutput, error: null } };\n} catch (error) {\n    return { json: { success: false, output: 'Erro ao processar.', error: error.message } };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                6288
            ],
            "id": "fca5d9cf-5456-4142-8c70-4e62c9ae8e9e",
            "name": "Safe Executor Email"
        },
        {
            "parameters": {
                "jsCode": "// Safe Executor genérico\ntry {\n    const agentOutput = $input.first().json.output || $input.first().json.response;\n    if (!agentOutput) throw new Error('Sem output');\n    return { json: { success: true, output: agentOutput, error: null } };\n} catch (error) {\n    return { json: { success: false, output: 'Erro ao processar.', error: error.message } };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                6688
            ],
            "id": "d9f9b927-5461-4a22-a5b0-9b18766a57c6",
            "name": "Safe Executor Relatorio"
        },
        {
            "parameters": {
                "jsCode": "// Safe Executor genérico\ntry {\n    const agentOutput = $input.first().json.output || $input.first().json.response;\n    if (!agentOutput) throw new Error('Sem output');\n    return { json: { success: true, output: agentOutput, error: null } };\n} catch (error) {\n    return { json: { success: false, output: 'Erro ao processar.', error: error.message } };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                7088
            ],
            "id": "d1ba2577-3120-4592-be26-1adf725e1aed",
            "name": "Safe Executor Negociacao"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "1",
                            "name": "sessionId",
                            "value": "={{ $json.sessionId }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                944,
                5040
            ],
            "id": "b06cdcc7-e473-49b0-b3ee-3046c22a251c",
            "name": "Set Session Marketing"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.payload_string }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "# Agente Instagram\n\n## REGRA: Use APENAS os produtos do contexto.\n\n## Saída (JSON)\n{\n  \"copy\": \"Legenda com emojis, hashtags e CTA\",\n  \"imagePrompt\": \"Descrição para gerar imagem\",\n  \"sticker\": \"Frase para Stories\"\n}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                1264,
                4656
            ],
            "id": "72cada4c-3a5d-4166-b7ba-e0ff2fc68512",
            "name": "Agente Instagram"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.payload_string }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "# Agente Visual Merchandising\n\n## REGRA: Use APENAS os produtos do contexto.\n\n## Saída (JSON)\n{\n  \"headline\": \"Frase principal (curta)\",\n  \"subheadline\": \"Frase de apoio\",\n  \"offer\": \"Preço ou desconto\",\n  \"layout\": \"Descrição visual\"\n}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                3376,
                4656
            ],
            "id": "692e3d00-393b-44ab-959c-b24ab4f477ec",
            "name": "Agente Visual Merchandising"
        },
        {
            "parameters": {
                "jsCode": "const agentOutput = $input.first().json.output || $input.first().json;\nlet content;\ntry {\n    content = typeof agentOutput === 'string' ? JSON.parse(agentOutput.replace(/```json/g,'').replace(/```/g,'')) : agentOutput;\n} catch (e) {\n    content = { copy: '', imagePrompt: '', sticker: '' };\n}\nreturn { copy: content.copy || '', prompt: content.imagePrompt || '', sticker: content.sticker || '' };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1616,
                4656
            ],
            "id": "dd1c6ada-605a-4982-a387-164979703ecf",
            "name": "Parser Instagram"
        },
        {
            "parameters": {
                "jsCode": "const agentOutput = $input.item.json.output || $input.item.json.response || $input.item.json;\nlet content;\ntry {\n    content = typeof agentOutput === 'string' ? JSON.parse(agentOutput.replace(/```json/g,'').replace(/```/g,'')) : agentOutput;\n} catch (e) {\n    content = { headline: 'OFERTA', subheadline: '', offer: '', layout: '' };\n}\nreturn { headline: content.headline || 'OFERTA', subheadline: content.subheadline || '', offer: content.offer || '', layout: content.layout || '' };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3744,
                4656
            ],
            "id": "ad1994fa-d1e8-4f7f-9f8f-6b59fdadd27e",
            "name": "Parser Visual"
        },
        {
            "parameters": {
                "jsCode": "const agentOutput = $input.item.json.output || $input.item.json.response || $input.item.json;\nlet content;\ntry {\n    content = typeof agentOutput === 'string' ? JSON.parse(agentOutput.replace(/```json/g,'').replace(/```/g,'')) : agentOutput;\n} catch (e) {\n    content = { script: '', trigger: '' };\n}\nreturn { script: content.script || '', trigger: content.trigger || '' };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2960,
                4656
            ],
            "id": "88957d20-44cd-468d-9579-b68093709a3d",
            "name": "Parser CRM"
        },
        {
            "parameters": {
                "resource": "image",
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash-image",
                    "mode": "list"
                },
                "prompt": "={{ $json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                1840,
                4656
            ],
            "id": "4e7b5462-38cf-4ab7-ab90-d21611e79646",
            "name": "Gemini Panfleto",
            "credentials": {
                "googlePalmApi": {
                    "id": "zHnhnW0LvGSHuNSy",
                    "name": "Metrics"
                }
            }
        },
        {
            "parameters": {
                "resource": "image",
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash-image",
                    "mode": "list"
                },
                "prompt": "={{ $json.layout }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                3984,
                4656
            ],
            "id": "4a69b770-4fcd-41db-973c-e6cecadf104c",
            "name": "Gemini Cartaz",
            "credentials": {
                "googlePalmApi": {
                    "id": "zHnhnW0LvGSHuNSy",
                    "name": "Metrics"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const item = $input.item;\nconst binaryPropertyName = 'data';\ntry {\n    if (!item.binary || !item.binary[binaryPropertyName]) {\n        return { json: { ...item.json, imageUrl: null, error: 'Imagem não gerada' } };\n    }\n    const binaryData = item.binary[binaryPropertyName];\n    const mimeType = binaryData.mimeType || 'image/png';\n    return { json: { ...item.json, imageUrl: `data:${mimeType};base64,${binaryData.data}`, error: null } };\n} catch (error) {\n    return { json: { ...item.json, imageUrl: null, error: error.message } };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2048,
                4656
            ],
            "id": "88420f17-73a6-4881-a046-395ad48df370",
            "name": "Safe Image Panfleto"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.item;\nconst binaryPropertyName = 'data';\ntry {\n    if (!item.binary || !item.binary[binaryPropertyName]) {\n        return { json: { ...item.json, posterUrl: null, error: 'Imagem não gerada' } };\n    }\n    const binaryData = item.binary[binaryPropertyName];\n    const mimeType = binaryData.mimeType || 'image/png';\n    return { json: { ...item.json, posterUrl: `data:${mimeType};base64,${binaryData.data}`, error: null } };\n} catch (error) {\n    return { json: { ...item.json, posterUrl: null, error: error.message } };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4192,
                4656
            ],
            "id": "d8a5db9c-b0d7-4dfb-92a4-fe218ea86de9",
            "name": "Safe Image Cartaz"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "1",
                            "name": "copy",
                            "value": "={{ $('Parser Instagram').first().json.copy }}",
                            "type": "string"
                        },
                        {
                            "id": "2",
                            "name": "imageUrl",
                            "value": "={{ $('Safe Image Panfleto').first().json.imageUrl }}",
                            "type": "string"
                        },
                        {
                            "id": "3",
                            "name": "sticker",
                            "value": "={{ $('Parser Instagram').first().json.sticker }}",
                            "type": "string"
                        },
                        {
                            "id": "5",
                            "name": "script",
                            "value": "={{ $('Parser CRM').first().json.script }}",
                            "type": "string"
                        },
                        {
                            "id": "7",
                            "name": "headline",
                            "value": "={{ $('Parser Visual').first().json.headline }}",
                            "type": "string"
                        },
                        {
                            "id": "8",
                            "name": "subheadline",
                            "value": "={{ $('Parser Visual').first().json.subheadline }}",
                            "type": "string"
                        },
                        {
                            "id": "9",
                            "name": "offer",
                            "value": "={{ $('Parser Visual').first().json.offer }}",
                            "type": "string"
                        },
                        {
                            "id": "11",
                            "name": "posterUrl",
                            "value": "={{ $('Safe Image Cartaz').first().json.posterUrl }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                4432,
                4656
            ],
            "id": "ce9a235f-fdd3-416f-b3ec-4e314f6b836e",
            "name": "Merge Marketing Results"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nreturn {\n    channels: {\n        instagram: { copy: input.copy || '', sticker: input.sticker || '', imageUrl: input.imageUrl || null },\n        whatsapp: { script: input.script || '' },\n        physical: { headline: input.headline || '', subheadline: input.subheadline || '', offer: input.offer || '', posterUrl: input.posterUrl || null }\n    }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4640,
                4656
            ],
            "id": "667d6636-727d-460a-9f47-8f536b248cdc",
            "name": "Structure Response"
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                4912,
                4656
            ],
            "id": "69881766-fdff-43e4-91af-1f3445b27b0e",
            "name": "Respond Marketing"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "1",
                            "name": "sessionId",
                            "value": "={{ $json.sessionId }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2336,
                4656
            ],
            "id": "3dd80073-503b-4601-b34c-1abb1dfaa49d",
            "name": "Set Session CRM"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "1",
                            "name": "sessionId",
                            "value": "={{ $json.sessionId }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                3168,
                4656
            ],
            "id": "c119331b-d8c1-4cff-9aab-8aa9b37f19d9",
            "name": "Set Session Visual"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.payload_string }}",
                "needsFallback": true,
                "options": {
                    "systemMessage": "# Agente CRM/WhatsApp\n\n## REGRA: Use APENAS os produtos do contexto.\n\n## Saída (JSON)\n{\n  \"script\": \"Mensagem curta e persuasiva\",\n  \"trigger\": \"Gatilho mental usado\"\n}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                2608,
                4656
            ],
            "id": "e723a084-bd3c-4123-83e5-e62c9dc695d7",
            "name": "Agente CRM"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o",
                    "mode": "list"
                },
                "options": {
                    "temperature": 0.3
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                2368,
                5664
            ],
            "id": "71463390-2ff3-4d7b-8f05-da7f9999d864",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "07UbucVgem6yn0aQ",
                    "name": "Metrics-Api-Jose"
                }
            }
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.5-pro",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                2544,
                5664
            ],
            "id": "426997a2-a0d2-4bdf-a4a8-37bbf83f46ca",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "zHnhnW0LvGSHuNSy",
                    "name": "Metrics"
                }
            }
        },
        {
            "parameters": {
                "contextWindowLength": 50
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                2736,
                5664
            ],
            "id": "6aeed7b1-514c-4125-a5fe-b3e37290b6cb",
            "name": "Simple Memory"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Agente Analisador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Analisador": {
            "main": [
                [
                    {
                        "node": "Parser Analisador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Analisador (3.5)": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente Analisador",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Parser Analisador": {
            "main": [
                [
                    {
                        "node": "Supabase: Buscar Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Buscar Dados": {
            "main": [
                [
                    {
                        "node": "Construir Contexto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Construir Contexto": {
            "main": [
                [
                    {
                        "node": "Switch Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Router": {
            "main": [
                [
                    {
                        "node": "Set Session Marketing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Agente Estoque (Sales Sniper)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Agente Compras",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Agente Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Agente Relatórios",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Agente Negociação",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente Compras",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Agente Estoque (Sales Sniper)",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Agente Instagram",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Agente CRM",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Agente Visual Merchandising",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Agente Email",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Agente Relatórios",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Agente Negociação",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente Compras",
                        "type": "ai_languageModel",
                        "index": 1
                    },
                    {
                        "node": "Agente Estoque (Sales Sniper)",
                        "type": "ai_languageModel",
                        "index": 1
                    },
                    {
                        "node": "Agente Instagram",
                        "type": "ai_languageModel",
                        "index": 1
                    },
                    {
                        "node": "Agente CRM",
                        "type": "ai_languageModel",
                        "index": 1
                    },
                    {
                        "node": "Agente Visual Merchandising",
                        "type": "ai_languageModel",
                        "index": 1
                    },
                    {
                        "node": "Agente Email",
                        "type": "ai_languageModel",
                        "index": 1
                    },
                    {
                        "node": "Agente Relatórios",
                        "type": "ai_languageModel",
                        "index": 1
                    },
                    {
                        "node": "Agente Negociação",
                        "type": "ai_languageModel",
                        "index": 1
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Agente Compras",
                        "type": "ai_memory",
                        "index": 0
                    },
                    {
                        "node": "Agente Estoque (Sales Sniper)",
                        "type": "ai_memory",
                        "index": 0
                    },
                    {
                        "node": "Agente Instagram",
                        "type": "ai_memory",
                        "index": 0
                    },
                    {
                        "node": "Agente CRM",
                        "type": "ai_memory",
                        "index": 0
                    },
                    {
                        "node": "Agente Visual Merchandising",
                        "type": "ai_memory",
                        "index": 0
                    },
                    {
                        "node": "Agente Email",
                        "type": "ai_memory",
                        "index": 0
                    },
                    {
                        "node": "Agente Relatórios",
                        "type": "ai_memory",
                        "index": 0
                    },
                    {
                        "node": "Agente Negociação",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Compras": {
            "main": [
                [
                    {
                        "node": "Safe Executor Compra",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Estoque (Sales Sniper)": {
            "main": [
                [
                    {
                        "node": "Safe Executor Estoque",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safe Executor Estoque": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safe Executor Compra": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Email": {
            "main": [
                [
                    {
                        "node": "Safe Executor Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Relatórios": {
            "main": [
                [
                    {
                        "node": "Safe Executor Relatorio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Negociação": {
            "main": [
                [
                    {
                        "node": "Safe Executor Negociacao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safe Executor Email": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safe Executor Relatorio": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safe Executor Negociacao": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Session Marketing": {
            "main": [
                [
                    {
                        "node": "Agente Instagram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Instagram": {
            "main": [
                [
                    {
                        "node": "Parser Instagram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parser Instagram": {
            "main": [
                [
                    {
                        "node": "Gemini Panfleto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Panfleto": {
            "main": [
                [
                    {
                        "node": "Safe Image Panfleto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safe Image Panfleto": {
            "main": [
                [
                    {
                        "node": "Set Session CRM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Session CRM": {
            "main": [
                [
                    {
                        "node": "Agente CRM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente CRM": {
            "main": [
                [
                    {
                        "node": "Parser CRM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parser CRM": {
            "main": [
                [
                    {
                        "node": "Set Session Visual",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Session Visual": {
            "main": [
                [
                    {
                        "node": "Agente Visual Merchandising",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Visual Merchandising": {
            "main": [
                [
                    {
                        "node": "Parser Visual",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parser Visual": {
            "main": [
                [
                    {
                        "node": "Gemini Cartaz",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Cartaz": {
            "main": [
                [
                    {
                        "node": "Safe Image Cartaz",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safe Image Cartaz": {
            "main": [
                [
                    {
                        "node": "Merge Marketing Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Marketing Results": {
            "main": [
                [
                    {
                        "node": "Structure Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Structure Response": {
            "main": [
                [
                    {
                        "node": "Respond Marketing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "27e203b8d0ac73891032fa9f58c8cd38e53bbb56abd519cce7d9751638aae6d0"
    }
}